/* dashboard page css */
.dashboard-top-bar{
    display: flex;
    justify-content: space-between;
    padding:15px 5%;
    background-color: rgb(177, 176, 176);
}

.dashboard-body{
    width:90%;
    margin: auto;
    margin-top: 40px;
}

.logout:hover{
    cursor: pointer;
    color:#e85583;
    scale: 1.1;
}

.create-list{
    border: 1px solid black;
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 20px;
}
.plus-logo{
    cursor: pointer;
}

/* login-page-css */

.login-heading{
    text-align: center;
    padding: 15px;
    background-color: rgb(177, 176, 176);
}

.form-group{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 60px 40px;
    width:30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:40px;
}

form h1{
    font-size: 40px;
}

input{
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid gray;
    padding:10px 20px;
}
input:focus{
    outline-color: #e85583;
}
input[type="submit"]{
    background-color: #e85583;
    border: none;
    color: white;
}

.homepage{
    background-image: url('./assets/home.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.homepage div{
    background-color:rgba(0, 0, 0, 0.700);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.homepage button{
    width:500px;
    padding:20px;
    background-color: rgb(29, 221, 29,0.700);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
}